html {
    max-height:100%;
    width:100%;
    height:100%;
}
body {
    font-family: Trebuchet MS, sans-serif;
    background:           gainsboro;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    height:100%;
    width:100%;
    overflow:hidden;
    -ms-touch-action: manipulation;
    z-index:5;
}
header {

    position:absolute;
    top:0;
    left:0em;
    width:45em;
    padding:1em;
    height:7.4em;
    background-color:#f0f0f0;
    border-radius: 0 0 1em 0;

}
header nav {
    position:absolute;
    top:1em;
    right:1em;
    bottom:1em;
    width:55em;
}
header h1 {
    font-family: serif;
    font-weight: normal;
    color:darkslategray;
    margin-bottom:-0.5em;
}
a {

    color:royalblue;
}
header, .items li  {

    box-shadow:0px 0px 2px midnightblue;
}
header nav ul {
    list-style-type:none;
}
header nav li {
    display:block;
    font-size:0.8em;
    line-height:1.6em;
    text-align: right;
}
header footer {
    position:absolute;
    bottom:1em;
    left:1em;
    right:1em;
}
header footer p {
    font-size:0.8em;
    text-align: right;
    font-style: italic;
}
#container {
    width:100%;
    height:100%;
}
.items li h2 {
    font-size:1.2em;
    text-align: left;
}
* { margin:0; padding:0; }
article {
}
#Scroller {
    overflow-x:auto;
    overflow-y:hidden;
    position:absolute;
    top:11em;
    left:0;
    right:0;
    bottom:0; -ms-scroll-chaining: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;   -ms-scroll-translation: vertical-to-horizontal;
}
.items {
    list-style-type:none;
    display:block;
    column-width:23em;
    column-gap:0;
    -moz-column-width:20em;
    -moz-column-gap:0;
    -webkit-column-width:20em;
    -webkit-column-gap:0;
    height:100%;
}
.items li {
    display:inline-block;
    background-color:#f0f0f0;
    color:#4a4a4e;
    height:10em;
    width:94%;
    margin:2%;
    min-height:10em;
    position:relative;
}


.items li a {
    position:relative;
    display:block;
    height:100%;
    text-decoration: none;
    color:inherit;
    overflow:hidden;
}
.items li figure {

    position:absolute;
    right:0;
    top:0;
    width:35%;
    background:white;
    bottom:0;
}
.items li figure img {
    opacity:0.8;
              width:100%;
}
.items li a {
    text-decoration: none;
}
a img {

    border:0;
    display:none;
}
a figure span.background {
    background-size: cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
a:hover img {
    opacity:1;
}
.items li h2 {
    margin:0.5em;
    margin-right:38%;
    text-shadow: 1px -1px 1px rgba(250,250,250,0.5);
    color:midnightblue;
    font-size:1em;
    font-weight: normal;
    max-height:6.6em;
    overflow:hidden;
}
.items li h3 {
    position:absolute;
    font-weight: normal;
    z-index:5;
    left:0;
    bottom:0;
    margin:0.5em;
    display:block;
    background:white;
    padding:0.5em;
    border-radius:1em;
    font-size:1em;
    wrap-flow: maximum;
    left:3em;
}
.items li .priority {
    left:0.6em;
    bottom:0.6em;
    position:absolute;
    width:2.4em;
    height:2.4em;
}
.items li .heart {
    left:50%;
    margin-left:-0.5em;
    top:50%;
    margin-top:-0.45em;
    position:absolute;
}
.items li .heart-5 {
    font-size:1.8em;
}
.items li .heart-4 {
    font-size:1.5em;
}
.items li .heart-3 {
    font-size:1.2em;
}
.items li .heart-2 {
    font-size:0.9em;
}
.items li .heart-1 {
    font-size:0.6em;
}
#poppy {
    position:absolute;
    z-index:50;
    width:40%;
    min-width:40em;
    top:40%;
    left:0;
    margin-top:-10em;
    height:20em;

    background-color: ghostwhite;
    padding-left:20%;
    border-radius:0em 1em 1em 0em;
    box-shadow: 0px 0px 3px darkslategray;
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    transition: transform 0.5s ease-in;
    -webkit-transition: -webkit-transform 0.5s ease-in;
}
#poppy #poppy-hidey {
    color:whitesmoke;
    position:absolute;
    font-weight: bold;
    font-size:2em;
    background-color: crimson;
    top:0;
    display:block;
    left:0;
    width:2em;
    cursor:pointer;
    bottom:0;
}
.poppy #poppy {
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
    display:block;
}
#poppy div {
    font-size:1.4em;
    padding:2em;
    text-align: center;
}
#poppy-bg {
    -webkit-transition: display 0.5s step-out;
    transition: display 0.5s step-out;

    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(25,25,25,0.6);
    z-index:9;
    position:absolute;
    display:none;
}
.poppy #poppy-bg {
    display:block;
    opacity:1;
}
        /* http://www.cssbuttongenerator.com/ */
#cta a {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
    background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
    background-color:#ff5bb0;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    border:1px solid #ee1eb5;
    display:inline-block;
    color:#ffffff;
    font-weight:bold;
    padding:6px 28px;
    text-decoration:none;
    text-shadow:1px 2px 2px #c70067;
}#cta a:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
     background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
     background-color:#ef027d;
 }#cta a:active {
      position:relative;
      top:1px;
  }
  /* http://css-tricks.com/examples/ShapesOfCSS/ */
.heart {
    position: relative;
    width: 1em;
    height: 0.9em;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 0.5em;
    top: 0;
    width: 0.5em;
    height: 0.9em;
    background: red;
    -moz-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}